@charset "UTF-8";
/* CSS Document */

/* spacing reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
	padding-top: 0px;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* end spacing reset */

ul {list-style-type: circle;}

#topspacer {
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 10px;
	height: 100px;
	width: 1060px;
}
#nav {
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 0px;
	width: 100px;
	float: left;
}
#topspacer img { 
    float:right;
}

#footer {
	text-align: right;
	padding: 10px;
	height: 20px;
	width: 880px;
	font-size: 10px;
	font-family: "MS Serif", "New York", serif;
	float: right;
}
#main {
	float: right;
	width: 700px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
}
#breadcrumb {
	float:left;
	padding:0;
}
#main_basic {
	padding-top: 70px;
}
#container {
	width: 900px;
}
#nav img {
	padding-top: 12px;
}
#header_id {
	text-align: right;
	padding: 10px;
	width: 600px;
}
#header_id h1.adrianestergaard {
	width: 2612px;
	height: 54px;
	margin: 0 0 0 -2000px;
	text-align:left;
	background-image: url(images/resume_h1_adrianestergaard_big.png);
	background-repeat: no-repeat;
	background-position: right top;
}
#resume_id {
	text-align: right;
	padding: 10px;
	width: 650px;
}
#resume_id a {
	font: "Bradley Hand ITC", "Brush Script Std", Mistral, serif;
	font-weight:bold;
}
.resume_content_header {
	width: 650px;
	padding-left: 10px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.resume_content_header .header_name {
	float:left;
	width: 450px;
	text-align:left;
}
.resume_content_header .header_date {
	float:right;
	width: 120px;
	text-align:right;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
}
.header_name h3 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	font-weight:bold;
	color: #000;
}
.resume_content {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	color: #000;
	width: 600px;
	text-align: justify;
	padding-left: 60px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}
.resume_list {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	color: #000;
	width: 580px;
	text-align: justify;
	padding-left: 80px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
}
#resume_id h1 {
	font-size: 12px;
	font-family: "Brush Script Std", Mistral, serif;
	font-style: normal;
}
#resume_id h1.adrianestergaard {
	width: 2662px;
	height: 54px;
	margin: 0 0 0 -2000px;
	text-align:left;
	background-image: url(images/resume_h1_adrianestergaard.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.resume_header {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000;
	text-align: left;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 0px;
    width: 650px;
}
.resume_header h2.skills{
	width: 2600px;
	height: 20px;
	margin: 0 0 0 -2000px;
	text-align:left;
	background-image: url(images/resume_h2_skills.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.resume_header h2.highlights{
	width: 2600px;
	height: 20px;
	margin: 0 0 0 -2000px;
	text-align:left;
	background-image: url(images/resume_h2_highlights.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.resume_header h2.projects{
	width: 2600px;
	height: 20px;
	margin: 0 0 0 -2000px;
	text-align:left;
	background-image: url(images/resume_h2_projects.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.resume_header h2.experience{
	width: 2600px;
	height: 20px;
	margin: 0 0 0 -2000px;
	text-align:left;
	background-image: url(images/resume_h2_experience.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.resume_header h2.volunteering{
	width: 2600px;
	height: 20px;
	margin: 0 0 0 -2000px;
	text-align:left;
	background-image: url(images/resume_h2_volunteering.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.resume_header h2.education{
	width: 2600px;
	height: 20px;
	margin: 0 0 0 -2000px;
	text-align:left;
	background-image: url(images/resume_h2_education.png);
	background-repeat: no-repeat;
	background-position: right top;
}
#gaming {
	padding: 10px;
}
#gaming p {
	text-align:left;
	padding-top:27px;
}
.framed img {
	float:right;
    padding:10px;
}
#video {
	padding:10px;
}
.g {float:left}

.video_content {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	color: #000;
	width: 600px;
	text-align: justify;
	padding-left: 60px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}
.video_header {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000;
	text-align: left;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 0px;
    width: 650px;
}
.video_content_header {
	width: 650px;
	padding-left: 10px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.video_content_header .header_name {
	float:left;
	width: 450px;
	text-align:left;
}
.video_name h3 {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	font-weight:bold;
	color: #000;
	float:left;
    width: 650px;
}
#container #main .resume_list table tr td ul li a {
	font-size: 16px;
	font-style: normal;
	font-weight: 900;
	list-style-type: disc;
	vertical-align: middle;
}
